  /* ANIMACION PARA TIENDA */
  
  .row:hover {
    filter: grayscale(90%);
  }
  
  @keyframes texto {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 100%;
    }
  }
  
  h1 {
    animation-name: texto;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
