form {

  color: rgb(73, 83, 59);
  width: 100px;
  padding: 100px;
  margin: 30px;
  margin-top: 50px;

}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {

  left: 0;
  top: 0;
  height: 50%;
  width: 50%;
  

}