/* HEADER */

  @mixin anclas {
    text-decoration: none;
    color: $color-fuentes;
    font-size: 5rem;
    background-color: $color-fondo;
    text-align: center;}

    h1 { @include anclas}


  a {
    text-decoration: none;
    margin-left: 15px;
  }
  
  li {
    list-style-type: none;
    display: inline-table;
    font-size: large;
    
  }
  
  nav {
    text-align: right;
    background-color: rgb(252, 252, 166);
    margin: 0px;
  
  }

  .logo:hover {-webkit-transform:scale(1.3);transform:scale(1.3);}



    
  