.noticias {
    background-color: chartreuse;
    font-size: larger;
    text-align: center;
    font-size: 2rem;

  }

  .ranking {
    display: flex;
  }

  .rankingWeb {
    text-decoration: underline;
  }