.sobre-mi {
    background-color: rgb(204, 255, 103);
    text-align: center;
    display: flex;
    font-size: larger;
  }

  .fotoSobreMi {
    width: 30%;
    height: 30%;
    margin-left: 2%;
    padding: 2%;
    margin-top: 5%;
    display: inline-flex;
    object-fit: cover;
    
  
  }

  .mainSobreMi {background-color:$color-fondo;}