.eslogan {
    background-color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
  }

  .subtituloTienda {background-color: $color-fondo;
color: $color-fuentes;
text-align: center;}
